.title {
  font-size: var(--font-size-48);
}

.list {
  gap: 3rem;
  display: flex;
  padding-left: 0;
  list-style-type: none;
  flex-direction: column;
}

.list-item {
  display: flex;
  flex-direction: column;
}

.list-item-date {
  font-size: var(--font-size-16);
}

.list-item-title {
  margin: .25em 0 .25em 0;
}

.list-item-title>a {
  font-size: var(--font-size-32);
  font-family: var(--font-serif);
}
