{% extends "base.html" %}
{% block head %}
<title> Compilador </title>
<meta name="description" content="Em Compilador, você encontra uma análise crítica sobre as inovações que impactam o nosso cotidiano. Tecnologia para humanos, sem pressa, com reflexão e profundidade.">
<link rel="stylesheet" href="{{ get_url(path='index.css', trailing_slash=false) | safe }}"  /> 
{% endblock head %}

{% block content %}
    <section>
        <h1>Página não encontrada</h1>
    </section>
{% endblock content %}
