<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <!-- Base -->
    <meta charset="UTF-8">
    <meta http-equiv="Content-Language" content="pt-BR">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Favicons -->
    <link rel="icon" href="favicon-light.ico" crossorigin="anonymous" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- Base Stylesheet -->
    <link rel="stylesheet" href="{{ get_url(path='foundations.css', trailing_slash=false) | safe }}" />
    <!-- Analytics -->
    <script defer src="https://cloud.umami.is/script.js" data-website-id="c20dacb4-f840-4d2d-a665-370efe6883c3"></script>
    {% block head %}{% endblock head %}
  </head>
  <body>
    <main>
      {% block header %} 
        {% include "partials/header.html" %}
      {% endblock header %}
      {% block content %}{% endblock content %}
      {% block footer %} 
        {% include "partials/footer.html" %}
      {% endblock footer %}
    </main>
  </body>
</html>
