<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon-light.ico" crossorigin="anonymous" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="stylesheet" href="{{ get_url(path='foundations.css', trailing_slash=false) | safe }}" />
    <!-- Social Media Cover -->
    <meta property="og:type" content="website">
    <meta property="og:image" content="images/social-cover.jpg">
    <meta property="og:url" content="https://compilador.net">
    <!-- Analytics -->
    <script defer src="https://cloud.umami.is/script.js" data-website-id="c20dacb4-f840-4d2d-a665-370efe6883c3"></script>
    {% block head %}{% endblock head %}
  </head>
  <body>
    <main>
      {% block header %}
      <header class="header">
        <a class="header-logo" href="/">Compilador</a>
        <nav class="header-nav" aria-label="Menu de navegação principal">
          <a href="">Pesquisar</a>
          <!-- <a href="/newsletter">Newsletter</a> -->
          <a href="/sobre">Sobre</a> 
          <!-- <a href="/apoie">Apoie</a> -->
        </nav>
      </header>
      {% endblock header %}
      {% block content %}{% endblock content %}
      {% block footer %}
      <footer class="footer">
        <div>
          <p class="footer-text">Compilador</p>
          <p class="footer-text">Tecnologia para <b>Humanos</b></p>
        </div>
        <div>
          {% include "partials/social.html" %}
          {% include "partials/license.html" %}
        </div>
      </footer>
      {% endblock footer %}
    </main>
  </body>
</html>
