{% extends "base.html" %}
{% block head %}
<title>Compilador</title>

<meta name="description" content="Em Compilador, você encontra uma análise crítica sobre as inovações que impactam o nosso cotidiano. Tecnologia para humanos, sem pressa, com reflexão e profundidade.">
<meta name="keywords" content="tecnologia para humanos, análise crítica, inovação, reflexões sobre tecnologia, transformação digital, gadgets, impacto digital">

<meta property="og:title" content="Compilador">
<meta property="og:description" content="Em Compilador, você encontra uma análise crítica sobre as inovações que impactam o nosso cotidiano. Tecnologia para humanos, sem pressa, com reflexão e profundidade.">

<link rel="stylesheet" href="{{ get_url(path='index.css', trailing_slash=false) | safe }}"  /> 

<script type="application/ld+json">
  {
      "@context": "https://schema.org",
      "@type": "NewsArticle",
      "headline": "Compilador",
      "description": "Em Compilador, você encontra uma análise crítica sobre as inovações que impactam o nosso cotidiano. Tecnologia para humanos, sem pressa, com reflexão e profundidade.",
      "datePublished": "2024-11-16T09:00:00Z",
      "author": {
        "@type": "Person",
        "name": "Thiago Campos"
      },
      "author": {
        "@type": "Person",
        "name": "Ivan Santiago"
      },
      "publisher": {
        "@type": "Organization",
        "name": "Compilador",
        "logo": {
          "@type": "ImageObject",
          "url": "https://compilador.net/logo.png"
        }
      }
    }
</script>
{% endblock head %}
{% block content %}
<main aria-label="Página inicial">
  <header class="header">
    <p class="header-logo">Compilador</p>
    <nav class="header-nav" aria-label="Menu de navegação principal">
      <a href="/escritos">Pesquisar</a>
      <a href="/escritos">Newsletter</a>
      <a href="/escritos">Sobre</a>
      <a href="/liricos">Apoie</a>
    </nav>
  </header>
  <section class="headline">
    {% for content_section in section.subsections %}
      {% set blog_section = get_section(path=content_section) %}
        {% for page in blog_section.pages %}
          <div>
            <span class="list-item-date" aria-label="Data do post: {{ page.title }}">{{ page.date }}</span>
            <h1>{{ page.title}}</h1>
            <p>{{ page.summary | safe }}</p>
            <a href="{{ page.permalink }}">Leia mais...</a>
          </div>
        {% endfor %}
    {% endfor %}
  </section>
  <footer class="footer">
    <p class="footer-text">Tecnologia para <b>Humanos</b></p>
    {% include "partials/social.html" %}
  </footer>
</main>
{% endblock content %}
