{% extends "base.html" %}
{% block head %}
<title>Compilador</title>
<meta name="description" content="Em Compilador, você encontra uma análise crítica sobre as inovações que impactam o nosso cotidiano. Tecnologia para humanos, sem pressa, com reflexão e profundidade.">
<meta name="canonical" href="https://news.brasilis.club">
{% if paginator.previous %}
<meta name="previous" href="https://news.brasilis.club/{{paginator.previous}}">
{% endif %}
{% if paginator.next %}
<meta name="next" href="https://news.brasilis.club/{{paginator.next}}">
{% endif %}
<link rel="stylesheet" href="{{ get_url(path='index.css', trailing_slash=false) | safe }}"  /> 
<link rel="stylesheet" href="{{ get_url(path='listing.css', trailing_slash=false) | safe }}" />
<!-- Page title and description -->
<meta property="og:title" content="Compilador">
<meta property="og:description" content="Em Compilador, você encontra uma análise crítica sobre as inovações que impactam o nosso cotidiano. Tecnologia para humanos, sem pressa, com reflexão e profundidade.">
<!-- Application Schema -->
<script type="application/ld+json">
  {
      "@context": "https://schema.org",
      "@type": "NewsArticle",
      "headline": "Compilador",
      "description": "Em Compilador, você encontra uma análise crítica sobre as inovações que impactam o nosso cotidiano. Tecnologia para humanos, sem pressa, com reflexão e profundidade.",
      "datePublished": "2024-11-16T09:00:00Z",
      "author": [
        {
          "@type": "Person",
          "name": "Thiago Campos"
        },
        {
          "@type": "Person",
          "name": "Ivan Santiago"
        }
      ],
      "publisher": {
        "@type": "Organization",
        "name": "Compilador",
        "logo": {
          "@type": "ImageObject",
          "url": "https://news.brasilis.club/images/open-graph.png"
        }
      }
    }
</script>
{% endblock head %}
{% block content %}
<section class="listing-posts">
  <ol class="list" aria-label="Lista de posts">
    {% for page in paginator.pages %}
    <li class="list-item">
      <span>{{ page.extra.longDate}}</span>
      <h1 class="list-item-title"><a href="{{ page.permalink | safe }}">{{ page.title}}</a></h1>
      <div>
        {{ page.summary | safe }}
      </div>
      <a href="{{ page.permalink | safe }}">Leia mais...</a>
    </li>
    {% endfor %}
  </ol>
  <nav class="pagination">
    {% if paginator.previous %}
    <a class="previous" href="{{ paginator.previous }}">Publicações mais recentes</a>
    {% endif %}
    {% if paginator.next %}
    <a class="next" href="{{ paginator.next }}">Publicações mais antigas</a>
    {% endif %}
  </nav>
</section>
{% endblock content %}
