{% extends "base.html" %}

{% block head %}
<title>{{ term.name }}</title>
<meta name="description" content="Aqui apresenta-se todas as publicações do assunto {{ term.name }}" />
<link rel="stylesheet" href="{{ get_url(path='listing.css', trailing_slash=false) | safe }}" />
{% endblock head %}

{% block content %}
  <section>
    <a href="/assunto">Voltar para Assuntos</a>
    <h1 class="title">{{ term.name }}</h1>
    <ol class="list" aria-label="{{ term.name }}">
      {% for page in term.pages %}
      <li class="list-item">
        <span class="list-item-date" aria-label="Data do post: {{ page.title }}">{{ page.date }}</span>
        <h1 class="list-item-title"><a href="{{ page.permalink | safe }}">{{ page.title}}</a></h1>
        <div>
          {{ page.summary | safe }}
        </div>
        <a href="{{ page.permalink | safe }}">Leia mais...</a>
      </li>
      {% endfor %}
    </ol>
  </section>
{% endblock content %}
